@page "/resetpassword/{UserId}"
@layout AccountLayout
@inject NavigationManager navigationManager
@inject HttpClient Http
@inject IJSRuntime JSRuntime;

<div class="login-area recovery-pass-area">
    <div class="topbar"> <a href="/"><i class="fas fa-chevron-left"></i> Login</a> </div>
    <div class="title">
        <h2>Reset Password</h2>
        <p>Enter your new password</p>
    </div>
    <AlertMessage Message="@message" MessageType="@messageType" />
    <div class="form-holder">
        <EditForm Model="model" OnValidSubmit="CreateNewPassword">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-filds">
                <div class="form-group m-0">
                    <RadzenPassword type="password" @bind-Value="model.Password" Placeholder="New password" class="form-control txt-password" id="resetpassword"></RadzenPassword>
                </div>

                <div class="form-group m-0">
                    <RadzenPassword type="password" @bind-Value="model.ConfirmPassword" Placeholder="Reenter new password" class="form-control txt-password" id="resetpasswordconfirm"></RadzenPassword>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-white btn-lg reset-submit disabled">Send</button>
            </div>
        </EditForm>
        <div class="form-group mt-4">
            <div>Need help?</div>
            <a href="mailto:info@routesme.com">info@routesme.com</a>
        </div>
    </div>
</div>
<div class="loader @spinner">
    <i class="fas fa-spinner fa-spin"></i>
</div>