################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QRCode/bin/Debug/netstandard2.1
/QRCode/obj
/QRCode.Shared/obj
/QRCode.Shared/bin/Debug/netstandard2.0
/BlazorUserApp/bin/Debug/netstandard2.1/wwwroot/_framework/_bin
/BlazorUserApp/bin/Debug/netstandard2.1
/BlazorUserApp/obj
/App/bin/Debug/netstandard2.1/wwwroot/_framework/_bin
/App/bin/Debug/netstandard2.1
/App/obj
/RoutesApp/bin/Debug/netstandard2.1
/RoutesApp/obj
