@page "/coupon-details"
@layout MainLayout
@inject HttpClient Http
@*@attribute [Authorize]*@

<style>
    body {
        background-color: #fff !important;
    }
</style>
<div class="custom-container">
    <div class="top-bar">
        <a href="/coupon" class="canecl-link d-flex align-items-center"><img src="images/back-icon.png" width="14" height="24" alt="" class="mr-2" /> Promotions</a>
        <div class="profile-name"> <a href="/profile"> LA </a></div>
    </div>
    <div class="coupon-area coupon-detail">
        <div class="row">
            <div class="col-12">
                <div class="single-card">
                    <div class="top-part text-left">
                        <div class="barcode-holder"><img src="images/barcode-sample.png" class="w-100" alt="" /></div>

                    </div>
                    <div class="bottom text-left ">
                        <p><img src="images/brand-logo.png" width="25" height="25" alt="" /> </p>
                        <p> <b>50% discount for any meal in any of our branches, happy summer holiday </b></p>
                        <p>The offer not included the avenus branch</p>
                        <p><span class="badge badge-light ">Valid till 19/12/2020</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>