@page "/profile"
@layout MainLayout
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager
@inject ILocalStorageService storageService
@*@attribute [Authorize]*@
<style>
    body {
        background-color: #f2f2f7 !important;
    }

    .body-offer {
        min-width: 414px;
    }
</style>
<div class="custom-container action-pages p-0">
    <div class="top-bar">
        <a href="/coupon" class="canecl-link d-flex align-items-center"><img src="images/back-icon.png" width="14" height="24" alt="" class="mr-2" /> Promotions</a>
        <h6>Profile</h6>
    </div>
    <div class="form-filed">
        <h6>Account</h6>
        <div class="info-item">
            <div class="form-group row mr-0 ml-0 border-after">
                <div class="col-6">
                    <label>Name</label>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-end"> <p>Latifa Esbaitah</p> </div>
            </div>
            @*@if (string.IsNullOrEmpty(UserPhone))
                {
                    <div class="form-group row mr-0 ml-0 mb-0">
                        <div class="col-6">
                            <label>Email</label>
                        </div>
                        <div class="col-6 d-flex align-items-center justify-content-end"> <p>@UserEmail</p> </div>
                    </div>
                }
                else
                {*@
            <div class="form-group row mr-0 ml-0 mb-0">
                <div class="col-6">
                    <label>Phone</label>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-end">
                    <p>
                        +965 65652716
                    </p>
                </div>
            </div>
            @*}*@

        </div>
        <h6>&nbsp;</h6>
        <div class="info-item row">
            <div class="col-12 text-center">
                @*<a href="#" class="text-danger" @onclick="@Logout">Log Out</a>*@
                <a href="javascript void(0)" class="text-danger">Log Out</a>
            </div>
        </div>
    </div>
</div>
<div class="loader d-none"> <i class="fas fa-spinner fa-spin"></i> </div>


