@page "/coupon-list"
@layout MainLayout
@*@attribute [Authorize]*@

<style>
    body {
        background-color: #f2f2f7 !important;
    }
</style>
<div class="custom-container action-pages p-0 see-all-promotion-container">
    <div class="top-bar">
        <a href="/index" class="canecl-link d-flex align-items-center"><img src="images/back-icon.png" width="14" height="24" alt="" class="mr-2" /> Promotions</a>
        <h6>Available</h6>
    </div>
    <div class="form-filed">
        <div class="d-flex justify-content-between align-items-center">
            <h6>Promotions</h6> <p>19 Items</p>
        </div>
        <ul class="theme-list bg-white">
            <li>
                <a href="#" class="link"></a>
                <div class="left-side"> <img src="images/brand-logo.png" width="25" height="25" class="border-radius-5" alt=""> </div>
                <div class="right-side">
                    <div class="row">
                        <div class="col-12">
                            <p>50% discount for any meal in any of our branches, happy summer holiday </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="link"></a>
                <div class="left-side"> <img src="images/brand-logo.png" width="25" height="25" class="border-radius-5" alt=""> </div>
                <div class="right-side">
                    <div class="row">
                        <div class="col-12">
                            <p>50% discount for any meal in any of our branches, happy summer holiday </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="link"></a>
                <div class="left-side"> <img src="images/brand-logo.png" width="25" height="25" class="border-radius-5" alt=""> </div>
                <div class="right-side">
                    <div class="row">
                        <div class="col-12">
                            <p>50% discount for any meal in any of our branches, happy summer holiday </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="link"></a>
                <div class="left-side"> <img src="images/brand-logo.png" width="25" height="25" class="border-radius-5" alt=""> </div>
                <div class="right-side">
                    <div class="row">
                        <div class="col-12">
                            <p>50% discount for any meal in any of our branches, happy summer holiday </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="link"></a>
                <div class="left-side"> <img src="images/brand-logo.png" width="25" height="25" class="border-radius-5" alt=""> </div>
                <div class="right-side">
                    <div class="row">
                        <div class="col-12">
                            <p>50% discount for any meal in any of our branches, happy summer holiday </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="link"></a>
                <div class="left-side"> <img src="images/brand-logo.png" width="25" height="25" class="border-radius-5" alt=""> </div>
                <div class="right-side">
                    <div class="row">
                        <div class="col-12">
                            <p>50% discount for any meal in any of our branches, happy summer holiday </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="loader d-none"> <i class="fas fa-spinner fa-spin"></i> </div>