@page "/coupon-list"
@layout MainLayout
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject ILocalStorageService storageService
@inject IJSRuntime JSRuntime;
@attribute [Authorize]

<style>
    body {
        background-color: #f2f2f7 !important;
    }
</style>
<div class="custom-container action-pages p-0 see-all-promotion-container">
    <div class="top-bar">
        <a href="/coupons" class="canecl-link d-flex align-items-center"><img src="images/back-icon.png" width="14" height="24" alt="" class="mr-2" /> Promotions</a>
        <h6>Available</h6>
    </div>
    <div class="form-filed">
        <div class="d-flex justify-content-between align-items-center">
            <h6>Promotions</h6> <h6>@(model.Count) Items</h6>
        </div>
        <ul class="theme-list bg-white">
            @foreach (var item in model)
            {
                <li>
                    <a href="/coupon-details?id=@item.Id" class="link"></a>
                    <div class="left-side"> <img src="@item.Promotion.LogoUrl" width="25" height="25" class="border-radius-5" alt=""> </div>
                    <div class="right-side">
                        <div class="row">
                            <div class="col-12">
                                <p>@item.Promotion.Title </p>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<div class="loader d-none"> <i class="fas fa-spinner fa-spin"></i> </div>
