@page "/links/{PromotionId}"
@layout MainLayout
@inject NavigationManager navigationManager
@inject HttpClient Http
@inject IJSRuntime JSRuntime;

@if (message != null)
{
    <div class="custom-container">
        <AlertMessage Message="@message" MessageType="@messageType" />
    </div>
}
<div class="loader @spinner"> <i class="fas fa-spinner fa-spin"></i> </div>
